<div class="wrapper">
<div class="grid-container">
    <% @posts.each do |post| %>
    <div class="grid-item card mt-3">
    <div class="card-body">
     <h2><%= link_to(post.title, post_path(post.id)) %></h2>
        <p class="card-text"><%= post.body %></p>
        </div>
</div>
<% end%> 
</div>
</div>